{% extends 'base.html' %}

{% block content %}


<div class="dashboard-wrapper">
    {% include 'includes/alerts.html' %}
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h3 class="mb-2">Editar Producto </h3>
                    <p class="pageheader-text"></p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Productos</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Editar Producto</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <form action="{% url 'editProduct' id %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Información Producto</h5>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Nombre de Producto</label>
                                {{ form.product_name }}
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="col-form-label">Código del Producto</label>
                                        {{ form.product_code }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="col-form-label">Código Unico </label>
                                        {{ form.code }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <div class="form-group">
                                        <label>Marca</label>
                                        {{ form.mngProductBrand_id }}
                                    </div>
                                </div>                                
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Stock</label>
                                        {{ form.stock }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Descripción</label>
                                {{ form.description }}
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Precio</label>
                                        {{ form.price }}
                                    </div>
                                </div>                                
                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Precio de Compra</label>
                                        {{ form.boughtPrice }}
                                    </div>
                                </div>                               
                                <div class="col-3">
                                    <div class="form-group"> 
                                        <label class="col-form-label">&nbsp;</label>
                                        <div class="custom-control custom-checkbox">
                                            {{ form.is_discount }}
                                            <label class="custom-control-label" for="id_is_discount">Tiene Descuento?</label>
                                        </div>  
                                    </div>                            
                                </div>                                
                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="col-form-label">% Descuento</label>
                                        {{ form.discountPorcentage }}
                                    </div>
                                </div>                             
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Categoria de Producto</label>
                                        {{ form.mngProductCategory_id }}
                                    </div> 
                                </div>
                                <div class="col-4">                                
                                    <div class="form-group">
                                        <label>Proveedor</label>
                                        {{ form.provider_id }}
                                    </div> 
                                </div>
                                <div class="col-4">
                                    <div class="form-group"> 
                                        <label class="col-form-label">&nbsp;</label>
                                        <div class="custom-control custom-checkbox">
                                            {{ form.is_0_tax }}
                                            <label class="custom-control-label" for="id_is_0_tax">Excento de IVA?</label>
                                        </div>  
                                    </div>                            
                                </div> 
                            </div> 
                            <div class="row">
                                <div class="col-6">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Tipo de Variación</th>
                                                <th scope="col">Valor</th>
                                                <th scope="col">Stock</th>
                                                <th scope="col" class="text-center"><a class="btn btn-rounded btn-info btn-xs" href="{% url 'createVariation' id %}" type="button">Agregar</a></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for variation in variations %}
                                            <tr>
                                                <td>{{ variation.variation_category |capfirst }}</td>
                                                <td>{{ variation.variation_value |capfirst }}</td>
                                                <td>{{ variation.stock }}</td>
                                                <td></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-6">
                                    <table class="table table-bordered" id="table_img">
                                        <thead>
                                            <tr>
                                                <th scope="col">Imagenes URL</th>
                                                <th scope="col" class="text-center"><a class="btn btn-rounded btn-info btn-xs" href="{% url 'createImage' id %}" type="button">Agregar</a></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for img in images %}
                                            <tr>
                                                <td name="img_{{img.id}}">{{ img.image.url }}</td>                                                                                       
                                                <!-- <td class="text-center"><a class="btn btn-rounded btn-success btn-xs" onclick='ver_fila(this)' href="#" data-toggle="modal" data-target="#modalImg">Ver</a></td> -->
                                                <td class="text-center"><a class="btn btn-rounded btn-success btn-xs modal_img" type="button">Ver</a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <p class="text-center">
<!--                                <input type="submit" class="btn btn-space btn-primary">Guardar</input>-->
                                <input type="submit" class="btn btn-space btn-primary" value="Guardar"></input>
                                <button class="btn btn-space btn-secondary">Cancel</button>
                            </p>
                </div>
            </div>
            {{ form.email.errors }}
            {{ form.non_field_errors }}
        </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalImg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Imagen</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                </div>
                <div class="modal-body">
                    <img id="img_space" style="width:460px;height:500px;">                
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>

    {% include 'includes/footer.html' %}
</div>

{% endblock %}

