{% extends 'base.html' %}

{% block content %}


<div class="dashboard-wrapper">
    {% include 'includes/alerts.html' %}
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h3 class="mb-2">Nuevo Producto </h3>
                    <p class="pageheader-text"></p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Productos</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Agregar Producto</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <form action="{% url 'newProduct' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Información Producto</h5>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Nombre de Producto</label>
                                {{ form.product_name }}
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="col-form-label">Código del Producto</label>
                                        {{ form.product_code }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="col-form-label">Código Unico </label>
                                        {{ form.code }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <div class="form-group">
                                        <label>Marca</label>
                                        {{ form.mngProductBrand_id }}
                                    </div>
                                </div>                                
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Stock</label>
                                        {{ form.stock }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Descripción</label>
                                {{ form.description }}
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Precio</label>
                                        {{ form.price }}
                                    </div>
                                </div>                                
                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="col-form-label">Precio de Compra</label>
                                        {{ form.boughtPrice }}
                                    </div>
                                </div>                               
                                <div class="col-3">
                                    <div class="form-group"> 
                                        <label class="col-form-label">&nbsp;</label>
                                        <div class="custom-control custom-checkbox">
                                            {{ form.is_discount }}
                                            <label class="custom-control-label" for="id_is_discount">Tiene Descuento?</label>
                                        </div>  
                                    </div>                            
                                </div>                                
                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="col-form-label">% Descuento</label>
                                        {{ form.discountPorcentage }}
                                    </div>
                                </div>                             
                            </div>
                            <div class="form-group">
                                <label>Categoria de Producto</label>
                                {{ form.mngProductCategory_id }}
                            </div>                            
                            <div class="form-group">
                                <label>Proveedor</label>
                                {{ form.provider_id }}
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <p class="text-center">
<!--                                <input type="submit" class="btn btn-space btn-primary">Guardar</input>-->
                                <input type="submit" class="btn btn-space btn-primary" value="Guardar"></input>
                                <button class="btn btn-space btn-secondary">Cancel</button>
                            </p>
                </div>
            </div>
            {{ form.email.errors }}
            {{ form.non_field_errors }}
        </form>
    </div>

    {% include 'includes/footer.html' %}
</div>

{% endblock %}