{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h3 class="mb-2">Agregar Producto </h3>
            <p class="pageheader-text"></p>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'viewProducts' %}" class="breadcrumb-link">Productos</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Agregar Producto</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>


<form action="{% url 'newProduct' %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-4">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">Detalle Producto</h5>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="col-form-label">Código del Producto <b style="color: red;">*</b></label>
                            {{ form.product_code }}
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Código Unico </label>
                            {{ form.code }}
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <div class="form-group">
                                    <label>Categoria de Producto <b style="color: red;">*</b></label>
                                    {{ form.mngProductCategory_id }}
                                    <!-- <p>Agregar una Categoría al Producto</p> -->
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <input type="button" class="btn-small btn-success" value="+" data-toggle="modal" data-target="#modalAddCategory"></input>
                                </div>
                            </div>
 

                        </div>
 
                    </div>
                </div>

                <div class="card">
                    <h5 class="card-header">Detalle Precios</h5>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="col-form-label">Precio <b style="color: red;">*</b></label>
                            {{ form.price }}
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Precio de Compra</label>
                            {{ form.boughtPrice }}
                        </div>
                        <div class="form-group"> 
                            <label class="col-form-label">&nbsp;</label>
                            <div class="custom-control custom-checkbox">
                                {{ form.is_discount }}
                                <label class="custom-control-label" for="id_is_discount">Tiene Descuento?</label>
                            </div>
                        </div> 
                        <div class="col-12" id="discount_div" hidden>
                            <div class="form-group">
                                <label class="col-form-label">% Descuento</label>
                                {{ form.discountPorcentage }}
                            </div>
                        </div>
                        <div class="form-group"> 
                            <label class="col-form-label">&nbsp;</label>
                            <div class="custom-control custom-checkbox">
                                {{ form.is_0_tax }}
                                <label class="custom-control-label" for="id_is_0_tax">Excento de IVA?</label>
                            </div>  
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-12">
                <div class="tab-regular">
                    <ul class="nav nav-tabs " id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">General</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="avanzado-tab" data-toggle="tab" href="#avanzado" role="tab" aria-controls="avanzado" aria-selected="false">Avanzado</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                            <div class="form-group">
                                <label>Nombre de Producto <b style="color: red;">*</b></label>
                                {{ form.product_name }}
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Descripción</label>
                                {{ form.description }}
                            </div>
                            <div class="form-group">
                                <label>Stock</label>
                                {{ form.stock }}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="avanzado" role="tabpanel" aria-labelledby="avanzado-tab">
                            <div class="form-group">
                                <label>Marca</label>
                                {{ form.mngProductBrand_id }}
                            </div>
                            <div class="form-group">
                                <label>Proveedor</label>
                                {{ form.provider_id }}
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <p class="text-center">
<!--                                <input type="submit" class="btn btn-space btn-primary">Guardar</input>-->
                        <input type="submit" class="btn btn-primary btn-lg" value="Guardar"></input>
                        <button class="btn btn-secondary btn-lg" onClick="window.location.reload();">Cancelar</button>
                    </p>
        </div>
    </div>
    {{ form.email.errors }}
    {{ form.non_field_errors }}
</form>

<!-- Modal -->
<div class="modal fade" id="modalAddCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form action="{% url 'addCategory' %}" method="POST">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Categoria</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="card">
                            <h5 class="card-header">Información</h5>
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="col-form-label">Nombres <b style="color: red;">*</b></label>
                                    <input class="form-control" name='cat_desc' id="cat_desc_id"></input>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>           
            </div>
            <div class="modal-footer">
                <input class="btn btn-space btn-primary" value="Guardar" id="btn-add-category"></input>
                <button href="#" class="btn btn-space btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
            </form> 
        </div>
    </div>
</div>

{% endblock %}