{% extends 'base.html' %}

{% block content %}
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h3 class="mb-2">Ver Clientes </h3>
                    <p class="pageheader-text"></p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="viewCustomers" class="breadcrumb-link">Clientes</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Ver Clientes</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example4" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Tipo de Persona</th>
                                        <th>Email</th>
                                        <th>Numero de Documento</th>
                                        <th>Fecha Creación</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for customer in customers %}
                                        <tr>
                                            <td>{{ customer.first_name | capfirst }}</td>
                                            <td>{{ customer.last_name | capfirst }}</td>
                                            <td>{{ customer.mngPersonType_id | capfirst }}</td>
                                            <td>{{ customer.email | capfirst }}</td>
                                            <td>{{ customer.document_number | capfirst }}</td>
                                            <td>{{ customer.date_added }}</td>
                                            <td class="text-center"><a type="button" href="{% url 'editCustomer' customer.id %}"><span class="fa fa-edit"></span></a></td>               
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

