<!doctype html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">


    <title>RubickTech</title>
</head>

<style>
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
</style>


<body>

    <div class="container-fluid">
        <div class="row pt-4">
            <div class="col-3 text-center">
                <div class="card">
                    <img class="card-img-top" src="C:\Users\JuanAulestia\Desktop\GreatKart Images\Products\ATX-Jeans.jpg"></td>
                    <div class="card-body">
                        <h6 class="card-title">Codigo Producto</h6>
                        <p class="card-text">
                            $5.32<br/>
                            Stock : 20
                        </p>
                    </div>
                </div>
            </div>            
            <div class="col-3 text-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="C:\Users\JuanAulestia\Desktop\RubickTech\static\images\No-image-available.png"></td>
                    <div class="card-body">
                        <h6 class="card-title">Codigo Producto</h6>
                        <p class="card-text">
                            $5.32<br/>
                            Stock : 20
                        </p>
                    </div>
                </div>
            </div>            
            <div class="col-3 text-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="C:\Users\JuanAulestia\Desktop\RubickTech\static\images\No-image-available.png"></td>
                    <div class="card-body">
                        <h6 class="card-title">Codigo Producto</h6>
                        <p class="card-text">
                            $5.32<br/>
                            Stock : 20
                        </p>
                    </div>
                </div>
            </div>            
            <div class="col-3 text-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="C:\Users\JuanAulestia\Desktop\RubickTech\static\images\No-image-available.png"></td>
                    <div class="card-body">
                        <h6 class="card-title">Codigo Producto</h6>
                        <p class="card-text">
                            $5.32<br/>
                            Stock : 20
                        </p>
                    </div>
                </div>
            </div>
            

        </div>

        

    </div>


</body>
</html>