{% extends 'base.html' %}

{% load invoiceDetailTags %}

{% block content %}

<div class="dashboard-wrapper">
    {% include 'includes/alerts.html' %}
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h3 class="mb-2">Nueva Venta </h3>
                    <p class="pageheader-text"></p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Ventas</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Nueva Venta</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">Información Factura</h5>
                    <div class="card-body">
                        <div class="row">
                            <p id="id_invoice_glob" hidden><b>{{ invoice.id }}</b></p>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="col-form-label">Vendedor</label>
                                    <p><b>{{ invoice.user }}</b></p>
                                </div>                        
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="col-form-label">Fecha de Venta</label>
                                    <p><b>{{ invoice.created_date }}</b></p>
                                </div>                        
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="col-form-label"># De Factura</label>
                                    <p><b>{{ invoice.Invoice_no_final }}</b></p>
                                </div>  
                            </div>  
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="col-form-label">Cliente</label>
                                    <p><b>{{ invoice.billing_customer_id }}</b></p>
                                </div>                        
                            </div>
                        </div>
                        <div class="accrodion-regular">
                            <div id="accordion1">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                           <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseSeven">
                                             <span class="fas fa-angle-down mr-3"></span>Información Cliente
                                           </button>
                                          </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion1">
                                        <div class="card-body">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label><b>Nombre Cliente</b></label>
                                                            <p>{{ invoice.billing_customer_id.first_name }} {{ invoice.billing_customer_id.last_name }}</p>
                                                        </div>                                                 
                                                    </div>                                
                                                    <div class="col-4">
                                                        <div class="form-group">                                                       
                                                            <label><b># Documento</b></label>
                                                            <p>{{ invoice.billing_customer_id.document_number }}</p>
                                                        </div>
                                                    </div>                                
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label><b>Email</b></label>
                                                            <p>{{ invoice.billing_customer_id.email }}</p>
                                                        </div>                                                     
                                                    </div>                                
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label><b># Telefono</b></label>
                                                            <p>{{ invoice.billing_customer_id.phone_1 }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label><b>Direccion</b></label>
                                                            <p>{{ invoice.billing_customer_id.address }}</p>
                                                        </div>                                                      
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label><b>Ciudad</b></label>
                                                            <p>{{ invoice.billing_customer_id.mngCity_id }}</p>
                                                        </div>                                              
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accrodion-regular">
                            <div id="accordion2">
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                           <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                             <span class="fas fa-angle-down mr-3"></span>Otra Información Factura
                                           </button>
                                          </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion2">
                                        <div class="card-body">
                                            <div class="row">
                                                <!-- <div class="col-6">
                                                    <div class="form-group">
                                                        <label class="col-form-label">Entregado a</label>
                                                        {{ form.shipping_customer_id }}
                                                    </div>                        
                                                </div> -->
                                                <!-- <div class="col-2">
                                                    <div class="form-group"> 
                                                        <label class="col-form-label">&nbsp;</label>
                                                        <div class="custom-control custom-checkbox">
                                                            {{ form.is_paid }}
                                                            <label class="custom-control-label" for="id_is_paid">Factura Pagado</label>
                                                        </div>  
                                                    </div>                            
                                                </div> -->
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label class="col-form-label">Metodo de Pago</label>
                                                        <p><b>{{ invoice.payment_method }}</b></p>
                                                    </div>                        
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label class="col-form-label">Fecha de Pago</label>
                                                        <p><b>{{ invoice.paid_date }}</b></p>
                                                    </div>                        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="card_fcs">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <!-- <h5 class="card-header">Detalle Factura</h5> -->
                    <div class="card-body">
                        <div class="card">
                            <h5 class="card-header">Filtros</h5>
                            <div class="card-body">
                                <form action="{% url 'newInvoiceDetail' invoice.id %}" method="POST" id="form1">
                                    {% csrf_token %}
                                    <input type="text" name="post_btn" class="form-control" value="btn1" hidden>
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label class="col-form-label">Codigo Producto</label>
                                                <input type="text" name="product_code" class="form-control" id="id_product_code" autofocus>
                                                <!-- {{ form.product_code }} -->
                                            </div>  
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label class="col-form-label">Cantidad</label>
                                                <input type="number" name="quantity" value="1" class="form-control" id="id_quantity">
                                            </div>  
                                        </div>
                                        <!-- <div class="col-2">
                                            <div class="form-group">
                                                <label class="col-form-label">&nbsp;</label>
                                                <input type="submit" class="btn btn-space btn-primary" value="Guardar"></input>
                                            </div>
                                        </div> -->
                                    </div>
                                {{ form.email.errors }}
                                {{ form.non_field_errors }}
                                </form>
                                <div class="row pt-3">
                                    <button  class="btn btn-space btn-primary">Generar Factura Electronica</button>
                                    <button  class="btn btn-space btn-primary">Generar Factura Sin IVA</button>
                                    <a  class="btn btn-space btn-primary" href="{% url 'pdf_view' %}" target="_blank">Orden de Compra</a>
                                    <button class="btn btn-space btn-secondary">Cancelar Factura</button>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <h5 class="card-header">Detalle Factura</h5>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <table class="table table-bordered" style="width:100%" id="invoiceDetailTable">
                                            <thead>
                                                <tr class="table-active">
                                                    <th scope="col" style="width:10%" class="text-center">Codigo</th>
                                                    <th scope="col" style="width:5%" class="text-center">Cantidad</th>
                                                    <th scope="col" style="width:50%" class="text-center">Detalle</th>
                                                    <th scope="col" style="width:9%" class="text-center">Precio U.</th>
                                                    <th scope="col" style="width:9%" class="text-center">Dscto %</th>
                                                    <th scope="col" style="width:9%" class="text-center">P.Total</th>
                                                    <th scope="col" style="width:30%" class="text-center"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for det in invdetail %}
                                                {% calculateStockProd det.quantity det.product_id.stock as resultStock %}
                                                    {% if resultStock <= 0 %}
                                                        <tr class='table-danger'>
                                                    {% elif resultStock >= 1 and resultStock <= 5 %}
                                                        <tr class='table-warning'>
                                                    {% endif %}
                                                        <td>{{ det.product_id.product_code }}</td>
                                                        <td class="text-center">{{ det.quantity }}</td>
                                                        <td>{{ det.product_id.description }}</td>
                                                        <td class="text-right">{{ det.unit_price }}</td>
                                                        <td class="text-right">{{ det.discount }}</td>
                                                        <td class="text-right">{{ det.total_price }}</td>
                                                        <td class="text-center">
                                                            <a type="button" href="javascript:;" class="modal_det_inv"><span class="fa fa-edit"></span></a>
                                                            <a type="button" href="javascript:;" class="delete_det_inv"><span class="fa fa-trash"></span></a>
                                                        </td>
                                                    </tr>                                           
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                    </div>
                                    <div class="offset-8 col-4">
                                        <table class="table table-bordered table-success" style="width:100%" id="">
                                            <tbody>
                                                <tr class="">
                                                    <td class="text-center"><b>SubTotal 0%</b></td>
                                                    <td class="text-right"><b>{{ invoice.subtotal_0 }}</b></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center"><b>SubTotal 12%</b></td>
                                                    <td class="text-right"><b>{{ invoice.subtotal_tax }}</b></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center"><b>SubTotal Dscto(-)</b></td>
                                                    <td class="text-right"><b>{{ invoice.subtotal_discount }}</b></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center"><b>IVA</b></td>
                                                    <td class="text-right"><b>{{ invoice.subtotal_tax_percentage }}</b></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center"><b>TOTAL</b></td>
                                                    <td class="text-right"><b>{{ invoice.subtotal_gran_total }}</b></td>  
                                                </tr>
                                                
                                            </tbody>                         
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <p class="text-center">
                    <input type="submit" class="btn btn-space btn-primary" value="Guardar"></input>
                    <button class="btn btn-space btn-secondary">Cancel</button>
                </p>
            </div>
        </div>
    </div>
   

        <!-- Modal -->
        <div class="modal fade" id="modalDetInv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cambiar Detalle Producto</h5>
                        <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </a>
                    </div>
                    <form action="{% url 'newInvoiceDetail' invoice.id %}" method="POST" id="form2">
                        {% csrf_token %}
                        <input type="text" name="post_btn" class="form-control" value="btn2" hidden>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="col-form-label">Codigo Producto</label>
                                            <b><p id="cod_prod_det_modal"></p></b>
                                            <input type="text" name="code_prod" class="form-control" id="input_cod_prod_det_modal" hidden>

                                        </div>  
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label class="col-form-label">Cantidad</label>
                                            <input type="number" name="quantity" value="0" class="form-control" id="id_quantity_det_modal">
                                        </div>  
                                    </div>
                                </div>
                            </div>           
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-space btn-primary" value="Guardar"></input>
                            <a href="#" class="btn btn-secondary" data-dismiss="modal">Cerrar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    {% include 'includes/footer.html' %}
</div>


{% endblock %}
