{% extends 'base.html' %}

{% block content %}

<div class="dashboard-wrapper">
    {% include 'includes/alerts.html' %}
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h3 class="mb-2">Nueva Venta </h3>
                    <p class="pageheader-text"></p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Ventas</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Nueva Venta</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <form action="{% url 'newInvoice' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Información Factura</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="col-form-label">Vendedor</label>
                                        <p><b>{{user}}</b></p>
                                    </div>                        
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="col-form-label">Fecha de Venta</label>
                                        {{ form.created_date }}
                                    </div>                        
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="col-form-label">Venta #</label>
                                        {{ form.Invoice_no }}
                                    </div>  
                                </div>  
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="col-form-label">Cliente</label>
                                        {{ form.billing_customer_id }}
                                    </div>                        
                                </div>
                                <div class="col-4">
                                    <div class="form-group"> 
                                        <label class="col-form-label">&nbsp;</label>
                                        <div class="custom-control custom-checkbox">
                                            {{ form.is_final_customer }}
                                            <label class="custom-control-label" for="id_is_final_customer">Consumidor Final</label>
                                        </div>  
                                    </div>                            
                                </div>
                            </div>

                            <div class="accrodion-regular">
                                <div id="accordion1">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                               <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                 <span class="fas fa-angle-down mr-3"></span>Información Cliente
                                               </button>
                                              </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion1">
                                            <div class="card-body">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <div class="form-group">
                                                                <label><b>Nombre Cliente</b></label>
                                                                <p id="cust_names"></p>
                                                            </div>                                                 
                                                        </div>                                
                                                        <div class="col-4">
                                                            <div class="form-group">                                                       
                                                                <label><b># Documento</b></label>
                                                                <p id="cust_doc_num"></p>
                                                            </div>
                                                        </div>                                
                                                        <div class="col-4">
                                                            <div class="form-group">
                                                                <label><b>Email</b></label>
                                                                <p id="cust_email"></p>
                                                            </div>                                                     
                                                        </div>                                
                                                        <div class="col-4">
                                                            <div class="form-group">
                                                                <label><b># Telefono</b></label>
                                                                <p id="cust_phone"></p>
                                                            </div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="form-group">
                                                                <label><b>Direccion</b></label>
                                                                <p id="cust_address"></p>
                                                            </div>                                                      
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="form-group">
                                                                <label><b>Ciudad</b></label>
                                                                <p id="cust_city"></p>
                                                            </div>                                              
                                                        </div>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accrodion-regular">
                                <div id="accordion2">
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                               <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                 <span class="fas fa-angle-down mr-3"></span>Otra Información Factura
                                               </button>
                                              </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion2">
                                            <div class="card-body">
                                                <div class="row">
                                                    <!-- <div class="col-6">
                                                        <div class="form-group">
                                                            <label class="col-form-label">Entregado a</label>
                                                            {{ form.shipping_customer_id }}
                                                        </div>                        
                                                    </div> -->
                                                    <div class="col-2">
                                                        <div class="form-group"> 
                                                            <label class="col-form-label">&nbsp;</label>
                                                            <div class="custom-control custom-checkbox">
                                                                {{ form.is_paid }}
                                                                <label class="custom-control-label" for="id_is_paid">Factura Pagada</label>
                                                            </div>  
                                                        </div>                            
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label class="col-form-label">Metodo de Pago</label>
                                                            {{ form.payment_method }}
                                                        </div>                        
                                                    </div>
                                                    <div class="col-4" hidden>
                                                        <div class="form-group">
                                                            <label class="col-form-label">Fecha de Pago</label>
                                                            {{ form.paid_date }}
                                                        </div>                        
                                                    </div>                                                    
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label class="col-form-label">Guia de Remision</label>
                                                            {{ form.referral_guide }}
                                                        </div>                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <p class="text-center">
<!--                                <input type="submit" class="btn btn-space btn-primary">Guardar</input>-->
                                <input type="submit" class="btn btn-space btn-primary" value="Crear Factura"></input>
                                <button class="btn btn-space btn-secondary">Cancelar</button>
                            </p>
                </div>
            </div>
            {{ form.email.errors }}
            {{ form.non_field_errors }}
        </form>
    </div>

    {% include 'includes/footer.html' %}
</div>


{% endblock %}