{% extends 'base.html' %}

{% block content %}

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h3 class="mb-2">Agregar Proveedor </h3>
                    <p class="pageheader-text"></p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'viewProviders' %}" class="breadcrumb-link">Proveedores</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Agregar Proveedor</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <form action="{% url 'newProvider' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <div class="card">
                        <h5 class="card-header">Información Del Proveedor</h5>
                        <div class="card-body">
                            <div class="form-group">
                                <label class="col-form-label">Codigo del Proveedor <b style="color: red;">*</b></label>
                                {{ form.provider_code }}
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Razón Comercial</label>
                                {{ form.business_reason }}
                            </div>
                            <div class="form-group">
                                <label>Razon Social <b style="color: red;">*</b></label>
                                {{ form.social_reason }}
                            </div>                            
                            <div class="form-group">
                                <label>Email <b style="color: red;">*</b></label>
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Telefono # 1 <b style="color: red;">*</b></label>
                                {{ form.phone_1 }}
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Telefono # 2</label>
                                {{ form.phone_2 }}
                            </div>
                            <div class="form-group">
                                <label>Ciudad <b style="color: red;">*</b></label>
                                {{ form.city }}
                            </div>
                            <div class="form-group">
                                <label>Dirección # 1 <b style="color: red;">*</b></label>
                                {{ form.address_1 }}
                            </div>                            
                            <div class="form-group">
                                <label>Dirección # 2</label>
                                {{ form.address_2 }}
                            </div>                            
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <div class="card">
                        <h5 class="card-header">Información Addicional</h5>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Tipo de Documento <b style="color: red;">*</b></label>
                                {{ form.mngDocumentType_id }}
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Numero de Documento <b style="color: red;">*</b></label>
                                {{ form.document_number }}
                            </div>
                            <div class="form-group">
                                <label>Web Site</label>
                                {{ form.web_site }}
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Nota</label>
                                {{ form.note }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <p class="text-center">
<!--                                <input type="submit" class="btn btn-space btn-primary">Guardar</input>-->
                                <input type="submit" class="btn btn-primary btn-lg" value="Guardar"></input>
                                <button class="btn btn-secondary btn-lg" onClick="window.location.reload();">Cancelar</button>
                            </p>
                </div>
            </div>
            {{ form.email.errors }}
            {{ form.non_field_errors }}
        </form>


{% endblock %}